@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Syne:wght@400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-family: "DM Sans", sans-serif;
}
p {
  font-family: "Syne", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Syne", sans-serif;
}

h1 {
  font-size: 140px !important;
  font-weight: 700 !important;
  line-height: 125px !important;
}
.heading-3 {
  color: #ff9b3f;
}
.strock-text {
  font-family: "Syne", sans-serif;
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.5px;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  text-shadow: 1px 1px 0 rgba(8, 8, 8, 0.4), -1px -1px 0 rgba(8, 8, 8, 0.4), 1px -1px 0 rgba(8, 8, 8, 0.4),
    -1px 1px 0 rgba(8, 8, 8, 0.4), 1px 1px 0 rgba(8, 8, 8, 0.4);
}
.family {
  font-family: "DM Sans", sans-serif;
}
.hidden {
  display: none;
}
.block {
  display: block;
}
.projects-links {
  font-family: "Syne", sans-serif;
}
.footer-brand-name h1 {
  font-size: 175px !important;
  font-weight: 700 !important;
  font-family: "Syne", sans-serif;
  color: #ffe9d9;
}
.navbar-bg {
  background-image: linear-gradient(to right, #ffffff1c, #ff9b3f29);
  backdrop-filter: blur(5px);
  z-index: 99;
}
.offcanvas {
  z-index: 9999;
}
@media screen and (max-width: 1440px) {
  .footer-brand-name h1 {
    font-size: 120px !important;
    font-weight: 700 !important;
    font-family: "Syne", sans-serif;
    color: #ffe9d9;
  }
  h1 {
    font-size: 80px !important;
    line-height: 80px !important;
  }
}

@media screen and (max-width: 991px) {
  .footer-brand-name h1 {
    font-size: 90px !important;
  }
  h1 {
    font-size: 80px !important;
    line-height: 80px !important;
  }
}
@media screen and (max-width: 520px) {
  .footer-brand-name h1 {
    font-size: 50px !important;
  }
}
@media screen and (max-width: 400px) {
  .footer-brand-name h1 {
    font-size: 40px !important;
  }
  h1 {
    font-size: 60px !important;
    line-height: 60px !important;
  }
}
